<% provide(:title, "About") %>
<br><br><br>
<div class="row well">
	<h3>On the nav bar</h3>
	<p>Home is a page containing simulation buttons (will be replaced in production as a signal from app to backend when a person arrive, order an item, leave the game ..... </p>
	 
	<h3>The admin page has three control panes to control what is going to be displayed on the home page</h3>
	<ol>
		<li>
			<h3>On arrival tab controls arrival scenario, consists of two tables.</h3>
			<p>Today’s games are games which are shown to users on arrival, game on this table is shown when the arrival button is clicked on the home page.</p>
			<p>The arrival button is a simulation button to communicate with the backend, but in production the button functionality should be replaced by a signal from the android app to the backend (When the smart phone is on the vicinity of the gate, beacon send a signal to the smart phone app (android or IOS), on detection the app should automatically ask the backend today’s game and related details (price, time, teams.....))</p>
			<p>Admins can control today’s game by using the control button on the right left most column of each button, click controls to assign today’s game</p>
		</li>
		<li>
			<h3>On Game tab controls on game scenario, consists of two tables.</h3>
		</li>
		<li>
			<h3>On Departure tab controls the departure scenario, consists of two tables.</h3>
		</li>


	<ol>        
 
</div>
