<% provide(:title, "Home") %>

<div class="center jumbotron clearfix">

	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 init-boxes-container">
		<div class="init-boxes">
			<hr>			
			<h2 class = "btn btn-lg btn-primary btn-simul"> Arrival </h2>
			<hr>
		</div>

		<div class="init-boxes">
			<hr>			
			<h2 class=  "btn btn-lg btn-primary btn-simul"> On Game </h2>
			<hr>
		</div>
		<div class="init-boxes">
			<hr>			
			<h2 class=  "btn btn-lg btn-primary btn-simul"> Departure </h2>
			<hr>			
		</div>
	</div>
</div>

