@import "bootstrap-sprockets";
@import "bootstrap";

$light-gray: #777;


body {
	background: rgb(244, 244, 244);
}

.init-boxes {
	background:white;
}

hr {
color: red;
padding: 1px;
background: white;
border: 1px solid rgb(229, 229, 229);
}

.init-boxes-container{
	display:table;
	margin:0px auto;
	float: none;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $light-gray;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}


@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}



.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #efe;
    text-decoration: none;
  }
}

.btn-simul{
	background: rgb(247, 247, 247);
	color: rgb(89, 255, 21);
	border: 1px solid whitesmoke;
	border-radius: 3px;
	font-weight: bold;
}

.modal-content {
  border-radius: 30%;
  height: 500px;
  background: rgba(121, 121, 121, 1);
  box-shadow: 1px 5px 2px rgba(103, 41, 41, 0.23);
  color: red;
  font-weight: bold;
  font-size: 15px;
  padding-top: 160px;
}

.modal-content-arrival {
  border-radius: 50%;
  height: 500px;
  background: rgba(58, 58, 58, 0.8);
  box-shadow: 1px 5px 2px rgba(103, 41, 41, 0.23);
  color: #000000;
  font-weight: bold;
  font-size: 15px;
  padding-top: 100px;
}

.modal-title {
  margin: 0px auto;
  line-height: 1.428571429;
  font-size: 30px;
  color: white;
  display: table;
}

.panel-arrival {
  background-color: rgb(82, 80, 80);
  color: white;
}

.nav-tabs-admin {
  margin: 0px auto;
  display: table;
}